@font-face {
	font-family: 'Opensans';
	src: local(OpenSans), url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Opensans';
	src: local(OpenSans), url(../fonts/OpenSans-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Opensans';
	src: local(OpenSans), url(../fonts/OpenSans-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pmav1y');
  src:  url('../fonts/icomoon.eot?pmav1y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pmav1y') format('truetype'),
    url('../fonts/icomoon.woff?pmav1y') format('woff'),
    url('../fonts/icomoon.svg?pmav1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-keyboard_arrow_right:before {
  content: "\e902";
}
.icon-keyboard_arrow_left:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e901";
}
.icon-narrow:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-zoom:before {
  content: "\e900";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-magnifying-glass:before {
  content: "\e900";
}

// Mixin section size 
.max-lines (@height, @line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line;
	line-height: @line;
	height: @height;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Opensans';
	font-weight: 400;
}

.input-text {
	border: unset;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 1px;
	border-color: #959595;
	border-style: solid;

	&:focus {
		outline: unset;
	}
}

.button.primary {
	border: unset;
	background-color: @color-primary;
	color: @color-quaternary;
	border-top: 1px solid @color-primary;
	border-bottom: 1px solid @color-primary;
	border-right: 1px solid @color-primary;
	cursor: pointer;

	.text-button {
		padding: 9px 20px;
		font-size: 15px;
		font-weight: 800;
		text-transform: uppercase;
	}

	&:focus {
		outline: unset;
	}
}
