// responsive
@common: ~"only screen and (min-width: 320px) and (max-width: 1920px)";
@1440: ~"only screen and (min-width: 1025px) and (max-width: 1440px)";
@1024: ~"only screen and (min-width: 769px) and (max-width: 1023px)";
@768: ~"only screen and (max-device-width: 767px)";
@640: ~"only screen and (max-device-width: 640px)";

// colors
@color-primary: #CE431E;
@color-secondary: #ACACAC;
@color-tertiary: #E2DEDB;
@color-quaternary: #FFFFFF;
@color-quinary: #80BDB8;
@color-senary: #FFFFFF;
@color-septenary: #646464;

@thunder: #231F20;