@media @common {
	.breadcrumbs {
		padding: 30px 15px 30px;
		font-size: 15px;
		max-width: 1240px;
		margin: 0 auto;

		.categorie {
			color: @color-primary;
		}
	}

	.main {
		display: flex;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 15px;

		.filters {
			width: 22%;
			margin-right: 25px;

			.filters-by {
				border: 1px solid @color-secondary;
				padding: 20px;

				.filter-title {
					text-transform: uppercase;
					color: @color-primary;
					font-weight: 600;
					font-size: 28px;
					margin-bottom: 12px;
				}

				h3 {
					font-weight: 600;
					font-size: 22px;
					color: @color-quinary;
					text-transform: uppercase;
					margin-bottom: 10px;
				}

				.categories {
					padding: 0 20px 25px;

					&.filter-2 {
						padding: 0;
					}

					ul {
						font-size: 18px;

						li {
							margin-bottom: 8px;
							color: @color-secondary;
						}

						&.colors {
							list-style: none;
							display: flex;
							flex-wrap: wrap;

							li {
								margin: 0 3px 10px 0;
							}
						}
					}
				}
			}
		}

		.catalog {
			width: 78%;

			hr {
				margin: 10px 0;
				color: @color-secondary;
			}

			.categorie-title {
				font-size: 40px;
				padding: 0px;
				color: @color-primary;
			}

			.ordenate {
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.options {
					label {
						font-size: 12px;
						color: @color-secondary;
						text-transform: uppercase;
						font-weight: 600;
						margin-right: 5px;
					}

					select {
						font-size: 12px;
						width: 210px;
						height: 27px;
						border: 1px solid @color-secondary;
						border-radius: 2px;
						background-color: @color-quaternary;
					}
				}

				.listing {
					display: flex;
					color: @color-secondary;

					.icon-th,
					.icon-th-list {
						cursor: pointer;

						&.active {
							color: @color-quinary;
						}
					}

					span {
						padding: 0 10px 0 0;
						font-size: 25px;
					}
				}
			}
		}
	}

	.main {
		#information {
			width: 80%;
			max-height: 510px;


			#logo-container {
				height: 100%;
				max-height: 281px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: @color-secondary;
				margin-left: 20px;
				margin-bottom: 20px;

				.logo {
					width: 100%;
					max-width: 200px;
				}
			}

			.description {
				height: 100%;
				max-height: 210px;
				margin-left: 20px;
			}
		}

		#side-home {
			width: 260px;
			background-color: @color-tertiary;
			height: 510px;

			.side-menu {
				ul {
					li {
						text-transform: uppercase;
						margin: 20px 0 0 40px;


						a {
							text-decoration: none;
							color: #000;
						}
					}
				}
			}
		}

		.catalog {
			#pagination {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				font-size: 24px;

				a,
				a:hover,
				a:visited {
					padding: 10px;
					text-decoration: none;
					color: @thunder;
				}

				span {
					color: @color-quinary;
					font-size: 40px;
				}
			}

			.products {
				&.list {
					flex-wrap: nowrap;
					flex-direction: column;
				}

				.item {
					&.list {
						display: flex;
						width: 100%;
					}
				}
			}
		}
	}
}

@media @768 {
	.main {
		flex-direction: column;

		.filters {
			width: 100%;
			margin: 0 0 20px;

      .filters-by {
        .filter-title {
          font-size: 25px;
        }

        h3 {
          font-size: 20px;
        }

        .categories {
          ul {
            li {
              font-size: 18px;
            }
          }
        }
      }
    }

		.catalog {
			.categorie-title {
				font-size: 32px;
				margin-bottom: 10px;
			}

			hr {
				display: none;
			}

			.ordenate {
				margin-bottom: 20px;

				.listing {
					display: none;
				}

				.options {
					display: flex;
					align-items: center;

					label {
						font-size: 10px;
					}

					select {
						width: 195px;
					}
				}
			}
		}

		#side-home {
			display: none;
		}

		#information {
			height: 510px;
			width: 100%;

			h2 {
				font-size: 30px;
			}

			h3 {
				font-size: 25px;
			}

			#logo-container {
				margin-left: 0;
			}
		}

		.categories {
			display: none;
			padding-left: 60px;
			padding: 0 28px 25px;

			ul {
				li {
					font-size: 22px;
				}
			}
		}
	}
}
