@media @common {
	.header {
		width: 100%;

		.top-links-area {
			width: 100%;
			height: 30px;
			background-color: @thunder;

			.top-links-inside {
				max-width: 1240px;
				padding: 0 15px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 100%;
				margin: 0 auto;

				.account {
					a {
						color: @color-quaternary;
						margin-left: 5px;
						margin-right: 5px;
						font-size: 15px;
						font-weight: 600;
					}

					span {
						color: @color-quaternary;
					}
				}
			}
		}

		.area-logo-search {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 115px;

			.area-inside {
				display: flex;
				justify-content: space-between;
				max-width: 1240px;
				padding: 0 15px;
				width: 100%;
				margin: auto;
				display: flex;

				.main-menu {
					display: none;

					.menu-mob,
					.nav-menu-mob {
						display: none;
					}
				}

				.area-search {
					display: flex;
					align-items: center;

					.form-search {
						>.search {
							height: 35px;
							display: flex;

							.input-text {
								border-right: unset;
								min-width: 382px;
								width: 100%;
							}

							.search {
								min-width: 115px;

								.text-button {
									font-weight: 800;
								}
							}
						}

						.mob-search {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media @640 {
	.header {
		.top-links-area {
			.top-links-inside {
				justify-content: center;
			}
		}

		.area-logo-search {
			.area-inside {
				align-items: center;

				.main-menu {
					display: block;

					.menu-mob {
						display: block;

						&::before {
							font-family: 'icomoon';
							font-size: 30px;
							content: "\e901";
						}
					}

					nav#top-menu {
						display: none;
					}

					nav.nav-menu-mob {
						display: none;
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						width: 100%;
						height: 100vh;
						z-index: 5;
						background-color: @color-primary;

						.content {
							width: 100%;
							display: flex;
							flex-direction: column;

							.close {
								display: block;
								float: right;
								color: @color-quaternary;
								font-size: 30px;
								margin: 20px;

								span {
									float: right;
									font-weight: 800;
								}
							}

							.nav-ul {
								width: 100%;
								display: flex;
								justify-content: center;
								flex-direction: column;
								align-items: center;
								list-style: none;
								height: 100vh;

								.nav-list {
									text-align: center;
									margin: 0 0 20px;
									margin-bottom: 10px;

									&:last-child {
										margin: 0 0 20px;
									}

									a {
										color: @color-quaternary;
										font-size: 25px;
										font-weight: 600;
										text-decoration: none;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}

				div.area-logo {
					margin: 0;
				}

				div.area-search {
					flex: unset;

					.form-search {
						>.search {
							display: none;
						}

						.mob-search {
							display: block;

							span {
								&::before {
									font-family: 'icomoon';
									font-size: 35px;
									content: "\e900";
									color: @color-primary;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media @768 {
	.header {
		.area-logo-search {
			.area-inside {
				.area-logo {
					margin-right: 20px;
				}

				.area-search {
					flex: 2;

					.form-search {
						width: 100%;

						>.search {
							.input-text {
								min-width: unset;
							}
						}
					}
				}
			}
		}
	}
}