@media @common {
  .content-area {
    width: 100%;

    .content-inside {
      max-width: 1240px;
      padding: 0 15px;
      margin: auto;

      .content-top {
        width: 100%;
        padding-top: 20px;
        display: flex;

        .content-navigation {
          max-width: 250px;
          width: 100%;
          height: 480px;
          background-color:@color-tertiary;

          .navigation-menu {
            padding-left: 30px;
            padding-top: 5px;

            li {
              margin: 20px;
              font-size: 18px;
              
              a {
                color: #000;
                text-decoration: none;
              }
            }
          }
        }

        .content {
          flex: 1;
          padding-left: 20px;

          .slick-area {
            width: 100%;
            height: 250px;
            background-color: @color-secondary;
          }

          .content-apresentation-area {
            width: 100%;
            margin-top: 20px;

            h2 {
              font-weight: normal;
              margin-bottom: 10px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      .content-bottom {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        .banner-area {
          width: 100%;
          height: 200px;
          background-color: @color-primary;
        }
      }
    }
  }
}

@media @640 {
  .content-area {
    .content-inside {
      max-width: 900px;

      .content-top {
        padding: 0;
        flex-direction: column;

        .content-navigation {
          max-width: unset;
          height: 300px;
          margin-bottom: 20px;
          display: none;

          .navigation-menu {
            li {
              height: 30px;
              width: 250px;
              margin: unset;
              margin-left: 20px;
            }
          }
        }

        .content {
          max-width: unset;
          padding: unset;

          .slick-area {
            height: 120px;
          }

          .content-apresentation-area {
            max-width: unset;
          }
        }
      }
    }
  }
}

@media @768 {
  .content-area {
    .content-inside {
      max-width: 930px;

      .content-top {
        .content-navigation {
          max-width: 200px;
          height: 350px;
        }
      }
    }
  }
}

@media @1024 {
  .content-area {
    .content-inside {
      max-width: 950px;

      .content-top {
        .content-navigation {
          max-width: 240px;
          height: 520px;
        }

        .content {
          .slick-area {
            max-width: 730px;
          }

          .content-apresentation-area {
            max-width: 730px;
          }
        }
      }
    }
  }
}