@media @common {
	.header {
		.navigation-area-mob {
			display: none;
		}
	}

	.navigation-area {
		width: 100%;
		background-color: @color-primary;
	
		.navigation-inside {
				max-width: 1240px;
				padding: 0 15px;
				margin: auto;

			.navigation-menu {
					width: 100%;
					height: 50px;
					display: flex;
					list-style: none;
					padding: unset;

				.nav-list {
					display: flex;
					align-items: center;
					margin: 0 20px;
					max-width: 150px;
					width: 100%;

					&:first-child {
						margin-left: 0;
					}
					&:last-child {
						margin-right: 0;
					}

					a {
						height: 100%;
						display: flex;
						align-items: center;
						text-decoration: none;
						color: @color-quaternary;
						text-transform: uppercase;
						font-weight: 800;
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media @640 {
	.header {
		.navigation-area-mob {
			display: block;
		}
	}

	.navigation-area {
		display: none;
	}
}

@media @768 {
	.navigation-area {
		.navigation-inside {
			.navigation-menu {
				justify-content: space-between;

				.nav-list {
					margin: 0;
					width: unset;
				}
			}
		}
	}
}

@media @1024 {
	.navigation-area {
		.navigation-inside {
			.navigation-menu {
				.nav-list {
					margin: 0 15px;
				}
			}
		}
	}
}