@media @common {
  .container {
    .main {
      .catalog {
        .products {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
  
          .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color: @color-secondary;
            margin: 20px 0 10px;
            width: calc((100% - 8%) / 4);
  
            >.img {
              height: 237px;
              margin-bottom: 10px;
  
              img {
                width: 100%;
                height: 100%;
                object-fit: none;
                border: 1px solid @color-secondary;
              }
            }
  
            .name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin: 0;

              .title {
                top: unset;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 16px;
                .max-lines(32px, 16px);
              }

              .price-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                .old-price {
                  font-size: 16px;
                  text-decoration: line-through;
                  margin-right: 5px;
                }
      
                .price {
                  font-size: 22px;
                  font-weight: 800;
                  color: @color-primary;
                }
              }

              .buy {
                height: 40px;
                width: 100%;
      
                button.btn-buy {
                  &.btn-buy {
                    height: 100%;
                    width: 100%;
                    border: none;
                    font-weight: 800;
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    background: @color-quinary;
                    border-radius: 5px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media @640 {
  .breadcrumbs {
    padding: 0 15px 15px;
  }

  .main {
    flex-direction: column;

    #side-home {
      display: none;
    }

    #information {
      height: 510px;
      width: 100%;

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 25px;
      }

      #logo-container {
        margin-left: 0;
      }
    }

    .categories {
      display: none;
      padding-left: 60px;

      ul {
        li {
          font-size: 25px;
        }
      }
    }

    .catalog {
      .products {
        .item {
          >div.img {
            max-height: 135px !important;
          }

          .name {
            .price-container {
              flex-wrap: wrap;
              align-items: flex-end !important;
              .max-lines (52px, 26px);
            }
          }
        }
      }
    }
  }
}

@media @768 {
  .main {
    .catalog {  
      width: 100%;

      hr {
        margin: 10px 0;
      }

      .products {
        div.item {
          width: calc((100% - 8%) / 2) !important;

          .name {
            .old-price {
              font-size: 15px;
            }
            
            .price {
              font-size: 25px;
            }
  
            &.list {
              display: flex;
              width: 100%;
            }
          }
        }

        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
      }
    }
  }
}

@media @1024 {
  .main {
    #side-home {
      display: block;
    }
    
    .catalog {
      .products {
        div.item {
          width: calc((100% - 8%) / 3) !important;
         
          &.list {
            display: flex;
            width: 100%;
          }
          
          .name {
            font-size: 15px;
            margin-top: 15px;

            .old-price {
              font-size: 15px;
            }
            
            .price {
              font-size: 20px;
            }
          }
        }

        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }

        .buy {
          button.btn-buy.btn-buy {
            font-size: 20px;
          }
        }
      }
    }

    #information {
      #logo-container {
        width: 96%;
      }
  
      .description {
        width: 96%;
      }
    }
  }
}

@media @1440 {
  .main {
    .catalog {
      .products {
        .item {
          margin-bottom: 20px;
          
          .name {
            .old-price {
              font-size: 20px;
            }
           
            .price {
              font-size: 35px;
            }
          }
        }

        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
       
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

// Add cart popup styles
.addToCart {
  width: 100%;
  height: 100%;
  background: @color-secondary;
  opacity: 0.5;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  &.active {
    display: flex;
  }
}

.windowCart {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  &.active {
    display: flex;
  }
  
  .addCartWindow {
    width: 28%;
    height: 32%;
    background: @color-quaternary;
    border-radius: 25px;
    padding: 25px;
    display: none;
    -webkit-box-shadow: -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    box-shadow:         -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    
    .middle {
      #pricePopup {
        font-size: 40px;
        font-weight: 800;
        color: @color-primary;
        padding: 0 15px;
      }
    }
   
    img {
      &#imgPopup {
        width: 250px;
        height: 200px;
        border: 1px solid @color-secondary;
      }
    }
   
    #namePopup {
      padding: 10px 0;
    }
   
    button {
      width: 30%;
      border: none;
      padding: 5px;
      font-weight: 800;
      font-size: 15px;
      color: @color-quaternary;
      text-transform: uppercase;
      background: @color-primary;
      border-radius: 5px;
      cursor: pointer;
    }
   
    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
